<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Refuel on Rails</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">Track your fuel economy of your vehicle. As if you care...</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Where we came from</h2>
                <hr class="divider light my-4" />
                <p class="text-white-50 mb-4">The project started out in 2005 as a hand-written record of when my car was refuelled.</p>
                <p class="text-white-50 mb-4">Ten years later, a spreadsheet was created (and a new car obtained).</p>
                <p class="text-white-50 mb-4">After several false starts, this site was started.</p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">Fuel your car</h2>
        <hr class="divider my-4" />
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Petrol, Diesel, or Electric</h3>
                    <p class="text-muted mb-0">All you need to measure how much your vehicle costs you (too much!)</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Up to Date</h3>
                    <p class="text-muted mb-0">After every refuel or major expense, your summary is updated.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Private by Default</h3>
                    <p class="text-muted mb-0">Unless you tell us otherwise, your data is not accessible to anybody on the platform.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Made with Love</h3>
                    <p class="text-muted mb-0">Not so sure about love, but definitely made with passion</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="#">
                    <%= image_tag 'portfolio/thumbnails/1.jpg', alt: '', class: 'img-fluid' %>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Fuel Costs</div>
                        <div class="project-name">Daily Running</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="#">
                    <%= image_tag 'portfolio/thumbnails/2.jpg', alt: '', class: 'img-fluid' %>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Overall</div>
                        <div class="project-name">Running Costs</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="#">
                    <%= image_tag 'portfolio/thumbnails/3.jpg', alt: '', class: 'img-fluid' %>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Compare</div>
                        <div class="project-name">Against Others</div>
                    </div>
                </a>
            </div>
            <!--
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="#">
                    <%= image_tag 'portfolio/thumbnails/4.jpg', alt: '', class: 'img-fluid' %>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="#">
                    <%= image_tag 'portfolio/thumbnails/5.jpg', alt: '', class: 'img-fluid' %>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="#">
                    <%= image_tag 'portfolio/thumbnails/6.jpg', alt: '', class: 'img-fluid' %>
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            -->
        </div>
    </div>
</div>
-->
<!-- Call to action-->
<section class="page-section bg-dark text-white">
    <div class="container text-center">
        <h2 class="mb-4">Join us!</h2>
        <p>Registrations not (quite) ready -- watch this space</p>
        <%#a class="btn btn-light btn-xl" href="https://startbootstrap.com/theme/creative/">Register Now!</a> %>
    </div>
</section>
<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Let's Get In Touch!</h2>
                <hr class="divider my-4" />
                <p class="text-muted mb-5">Still in strealth mode</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <%# <div>+1 (555) 123-4567</div> %>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                <%# a class="d-block" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a> %>
            </div>
        </div>
    </div>
</section>
<!-- Bootstrap core JS-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<!-- Core theme JS-->
<%= javascript_pack_tag 'welcome.js' %>